*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    background-color: blue;
    color: black;
    width: 660px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2px;
}

.flex{
    display: flex;
}

.amarelo{
    background-color: yellow;
    padding: 80px;
    margin: 5px;
}

.titulo{
    background-color: blue;
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: azure;
    width: 600px;
    margin: 20px auto 20px auto;
}

p {
    text-align: center;
}

.esticar{
    padding-right: 279px;

}

.abaixar{
    padding-bottom: 270px;
}

.espaco{
   width: 80px;
   height: 100%;
   color: azure;
}
